.footer {
    margin-left: 8rem;
}

.main-part {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 4rem;
}

.footer-heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: goldenrod;
    margin: 1rem 0 3rem 0;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list-item {
    margin-bottom: 2rem;
}

.footer-list-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #bbb;
}

.contact p {
    font-size: 1.5rem;
    color: #bbb;
    margin-bottom: 4rem;
}

.footer-form {
    display: flex;
}

.footer-input {
    width: 25rem;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    color: #444;
    outline: none;
}

.footer-btn {
    padding: 1rem;
    background-color: #b85d1c;
    color: #ddd;
    border: none;
}

.creator-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 4rem;
}

.copyright-text {
    font-size: 1.3rem;
    color: #aaa;
    text-align: center;
    width: 100%;
}

.social-icons-footer {
    list-style: none;
    padding: 0;
    height: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-link-footer {
    font-size: 2rem;
    color: #777;
}

.social-link-footer .icon {
    transition: 1s cubic-bezier(.5, 1, .75, 1);
}

.social-link-footer:hover .icon {
    color: #deaa86;
    transform: rotateZ(360deg);
}
