html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

@media(max-width: 1000px) {
  .customer-card-wrapper {
      flex-direction: column;
      align-items: center;
  }
  .customer-card:first-child {
      margin-bottom: 3rem;
  }
  .main-part {
      flex-direction: column;
  }

  .footer-list {
      display: flex;
  }

  .footer-list-item {
      margin-right: 3rem;
  }
}

@media(max-width: 1200px) {
  .about-us {
      flex-direction: column;
      padding-bottom: 20rem;
  }
  
  .about-us-content {
    margin-bottom: 13rem;
  }

  .image {
    width: 25rem;
  }
}

@media(max-width: 900px) {
  .banner {
    text-align: center;
  }

  .banner-heading {
    font-size: 4.7rem;
  }
 
  .banner-paragraph {
    font-size: 2.6rem;
  }

  .banner-button {
    width: 10rem;
    font-size: 1.5rem;
  }
}

@media(max-width: 750px) {
  .customer-card {
    flex-direction: column;
    width: 20rem;
  }

  .customer-image {
    margin-left: 0;
  }

  .footer-list {
    display: block;
  }

  .creator-part {
    flex-direction: column;
    text-align: center;
  }
  
  .copyright-text {
    order: 1;
  }
}

@media(max-width: 500px) {
  .navigation {
    width: 20rem;
  }
  
  .navifation-search input {
    width: 20rem;
  }

  .about-us {
    padding-bottom: 15rem;
  }

  .about-us-heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .banner {
    height: 100%;
  }
  
  .hotel-heading {
    font-size: 2rem;
    margin: auto 0;
  }

  .banner-heading {
    font-size: 3rem;
  }

  .banner-paragraph {
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 2rem;
    text-align: center;
  }
  
  .about-us-content {
    padding: 5rem;
  }
 
  .image {
    width: 13rem;
  }

  .common-heading {
    font-size: 2rem;
  }

  .small-underline {
    width: 5rem;
  }

  .big-underline {
    width: 12rem;
  }

  .room-card-heading {
    font-size: 1.5rem;
  }

  .room-price {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .room-card-btn {
    width: 12rem;
    padding: 1rem .5rem;
    font-size: 1rem;
  }

  .customer-paragraph {
    font-size: 1.4rem;
    width: 50%;
  }

  .main-part {
    padding: 2rem;
  }

  .footer-input {
    width: 12rem;
  }

  .image-wrapper {
    width: 9rem;
  }
}
